[user]
	name = Lizzi Lindboe
	email = lindboe@users.noreply.github.com
[github]
	user = lindboe
[push]
	default = simple
	autoSetupRemote = true
[credential]
	helper = osxkeychain
[core]
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[rerere]
	enabled = true
[pull]
	ff = only
